

  @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    transition: 1s;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 8px;
    cursor: pointer;
   
}
.nav-link a{
    color: #000;
}
.burger{
    display: none;
}
.header{
    background-image: url(../assets/header-image.png);
    background-repeat: no-repeat;
    height: 80vh;
}
.header{
    color: #fff;
}
.header-text{
    position: relative;
    top: 200px;
    margin: 16px;
}
.header-text h1{
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.header-text p{
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 40rem;
}
.btn{
    padding: 10px 40px;
    background: #D9D9D9;
    border: 0;
    margin: 10px;
    transition: 1s;
    cursor: pointer;
}
.btn:hover{
    background-color: #A49284;
    color: #fff;
}
.product h1{
    color: #A49284;
    font-family: Inter;
    font-size: 48px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
}
.product span{
    color: #000;
font-family: Inter;
font-size: 64px;
font-style: italic;
font-weight: 600;
line-height: normal;
}
.product-text{
    text-align: center;
}
.product-text p{
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: italic;
font-weight: 200;
line-height: normal;
}
.product-grid{
    display: flex;
    justify-content: space-between;
}
.right-side_grid{
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: italic;
font-weight: 500;
line-height: normal;
margin: 52px;
}
.faq{
    background: #c3c3c3;
    height: fit-content;
}
.faq-text{
    text-align: center;
}
.faq-text h1{
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: italic;
font-weight: 800;
line-height: normal;
}
.faq-text h4{
    color: #FFF;    
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}
.left-side_faq{
    margin: 20px;
}

.collapsible {
	margin: 10px;
    width: 20rem;
	color: #000000;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: 1px solid black;
	text-align: left;
	outline: none;
	font-size: 15px;
	text-decoration: none;
	float: right;
  }
  
  
 
  
  .content {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 50;
	padding: 0 18px;
	display: none;
	overflow: hidden;
    text-align: left;
	color: black;
  }

  .faq-grid{
  display: flex;
  justify-content: space-between;
  }

  .right-side_faq img{
    width: 30rem;
  }

  .artist-text{
    color: #000;
font-family: Inter;
font-size: 48px;
font-style: italic;
font-weight: 600;
line-height: normal;
text-align: center;
  }
.cart{
    display: flex;
    justify-content: space-around;
    
}
  .card{
    background-color: #A49284;
    border-radius: 40px;
    width: fit-content;
    margin: 24px;
  }
  .card-item h3{
    color: #FFF;
font-family: Inter;
font-size: 38px;
font-style: italic;
font-weight: 600;
line-height: normal;
margin: 16px;
  }
  .card-item p{
    width: 200px;
    margin: 24px;
    color: #fff;
  }
  .card img{
    width: 20rem;
    border-radius: 20px;
    margin: 16px;
  }

.my-1{
    position: relative;
    top: 50%;
    left: 40%;
    text-transform: (50%, 50%);
    margin: 32px;
}
.signup{
    background: #c3c3c3;
}
.signup h1{
text-align: center;
color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: italic;
font-weight: 800;
line-height: normal;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.left-side_signup{
    margin: 32px;
    padding: 20px;
}
.left-side_signup h2{
    color: #000;
font-family: Inter;
font-size: 48px;
font-style: italic;
font-weight: 400;
line-height: normal;
margin: 16px;
}
.left-side_signup p{
    color: #000;
font-family: Inter;
margin: 24px;
font-style: italic;
font-weight: 400;
line-height: normal;
}
.footer-section{
    background: #D9D9D9;
}
.footer-section h1{
    text-align: center;
    color: #000;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.my-2{
    margin: 44px;
}
.co-1 a{
    cursor: pointer;
    color: #000;
    margin: 44px;
}
.co-1 li{
    margin: 10px;
}
.footer{
    background-color: #7a7a7a;
    padding: 12px;
    text-align: center;
    color: #fff;
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.footer a{
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    button{
        font-size: 10px;
    }
    .btn{
        padding: 20px 80px;
    }
    .nav-link {
        position: absolute;
        left: 0;
        background-color: #ffffff;
        width: 100vw;
        text-align: center;
        display: none;
        flex-direction: column;
        padding: 2rem ;
        margin: 0px;
    }
    .nav-link.active {
        top: 10%;
        display: flex; /* Active state: displayed */
    }
    .burger{
        cursor: pointer;
        display: block;
    }
    .header-text {
        text-align: center;
    }
    .header-text p{
        font-size: 15px;
        text-align: center;
        width: fit-content;
    }
    .product-text{
        text-align: center;
        width: fit-content;
    }
    .product-grid{
        flex-direction: column;
    }
    .faq{
        height: fit-content;
    }
    .faq-grid{
        flex-direction: column;
    }
    .right-side_faq img{
        display: none;
    }
    .cart{
        flex-direction: column;
        
    }
    .card{
        width: 20rem;
        text-align: center;
    }
    .card img{
        width: 17rem;
    }
    .card-item p{
        text-align: center;
        width: fit-content;
    }
    .my-1{
        left: 0%;
    }
    .flex{
        flex-direction: column;
    }
    .right-side_signup img{
        display: none;
    }
    .left-side_signup{
        margin: 0px;
        padding: 0px;
    }
    .left-side_signup p{
       font-size: 1rem;
       margin: 5px;
    }
    .my-2{
        text-align: center;
    }
    .my-2 ul{
        margin: 20px;
    }
  }